<style>
    .my-dashboard{
        padding: 20px;
        border-radius: 8px;
        background-color: #90caf945;
    }

    .my-button{
        margin-top: 15px;
    }

    .my-combo{
        margin-top: 15px;
    }

    .my-button2{
        width: 50px;
        height: 50px;
    }

</style>

<title>Records</title>

<div class="container">
    <h3>Academic records</h3>
    <p>Olympus School</p>
</div>

<br>

<div class="container my-dashboard">

    <div class="row">

        <div class="col s12">
            <h6>Select any available professor and consult their subjects, courses and lists of students</h6> 
        </div>

        <div class="col s12">
            <form role="form" (ngSubmit)="getSubjects(professorId)">

                <select class="browser-default my-combo" [(ngModel)]="professorId"
                [ngModelOptions]="{standalone: true}">
                    <option value="" disabled selected>Choose a professor</option>
                    <!-- Fillig the combo-->
                    <ng-container *ngFor="let item of professorsList">
                        <option [ngValue]="item.id">{{item.name}}</option>
                    </ng-container>
                </select>
                <button class="waves-effect waves-light btn my-button"type="submit"><i class="material-icons left">search</i>Search</button>
            </form>
        </div>

    </div>

    <br>

    <div class="my-table" *ngIf="shown"  style="margin-left: 15px;">
        <h6>Subjects dictated by the professor:</h6>
        <br>
        <table class="centered">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Course</th>
                <th>Students</th>
            </tr>
            </thead>

            <tbody *ngFor="let subject of subjectsList">
            <tr>
                <td>{{subject.name}}</td>
                <td>{{subject.level}}</td>
                <td> <a class="btn-floating btn-large waves-effect waves-light 
                blue darken-1 my-button2" (click)="getCourseId(subject.courseId)"
                [routerLink]="['/course-details', subject.courseId]">
                <i class="material-icons">list</i></a> </td>                
            </tr>
            </tbody>
        </table>
    </div>

</div>