<style>
    .my-dashboard{
        height: 200px;
        padding: 20px;
        border-radius: 8px;
        background-color: #90caf945;
    }

</style>

<title>Records</title>

<div class="container">
    <h3>Academic records</h3>
    <p>Olympus School</p>
</div>

<br>

<div class="container my-dashboard">

    <div class="row">

        <div class="col s12">
            <p>Select any available professor and consult their subjects, courses and lists of students</p>   
        </div>

        <div class="col s6">
            <select class="browser-default">
                <option value="" disabled selected>Choose a professor</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
        </div>

        <div class="col s6 my-button">
            <a class="waves-effect waves-light btn"><i class="material-icons left">search</i>search</a>
        </div>


    </div>
     
                
    
    
</div>